$white: #fff;
$black: #000;
$light-blue: #c5eafa;
$light-blue-gradient: var(
  --Skyllen-Gradient,
  linear-gradient(
    180deg,
    rgba(197, 234, 250, 0.9) 0%,
    rgba(221, 234, 235, 0.83) 45.31%,
    rgba(197, 234, 250, 0) 100%
  )
);

$sm-space: 1rem;
$med-space: 4rem;
$lrg-space: 8rem;

.lrg-padding-top {
  padding-top: $lrg-space;
}
